#class {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", serif;
  margin-bottom: 0px;
  margin-top: 0px;
}
h2 {
  color: rgb(58, 58, 58);
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  font-size: 21.3px;
}
.img1 {
  border-radius: 20px;
}
#demo {
  font-size: 29px;
  margin-top: 10px;
  color: #eeeeee;
}
.students {
  position: relative;
  height: 90px;
  width: 115px;
  border: 2px solid linear-gradient(#e66465, #9198e5);
  border-radius: 25px;
  padding: 4px 28px 40px 28px;
  background: white;
  color: rgb(24, 23, 23);
  margin: 5px;
  text-align: center;
}
.choose {
  text-align: left;
}

#submit_report {
  margin: 10px;
  border-radius: 12px;
  border: 1px rgb(29, 29, 29) solid;
  color: rgb(238, 236, 236);
  background-color: rgb(29, 29, 29);
  cursor: pointer;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#submit_report:hover {
  background-color: rgb(3, 221, 68);
  color: black;
  border: 0cm;
  transition: 0.5s ease-out;
  padding: 15px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  margin: 0px;
  padding-bottom: 5px;
  line-height: -10px;
  font-size: 17px;
}

input {
  width: 25px;
  cursor: pointer;
}
input[type="radio"] {
  accent-color: rgb(51, 51, 51);
  transform: scale(1.5);
}

#name_input {
  width: 110px;
}
body {
  background: linear-gradient(#2eee38, #2a407c);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.hr1 {
  width: 85%;
  border-radius: 30px;
  border-color: rgb(54, 54, 54);
}
#report_info_number {
  font-size: 18px;
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
}
#report_info_students {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
#Absent {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
#Absentnum {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
hr {
  border: 2.05px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.cred {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cred .span1 {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
span {
  color: #07b332;
}
